{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Ônibus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Cadastrar Ônibus
            </div>
            <div class="card-body">
                <form action="/admin/onibus/cadastrar" method="post">
                    <div class="form-group">
                        <label for="numero">Número do Ônibus:</label>
                        <input type="number" id="numero" name="numero" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="numero_cadeiras">Número de Cadeiras:</label>
                        <input type="number" id="numero_cadeiras" name="numero_cadeiras" class="form-control" required>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>

        <a href="/admin/" class="btn btn-secondary mt-3">Voltar</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
